.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.ellipsis {
  height: calc(1lh * var(--ellipsis-lines, 1));
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}
